body {
    display: block;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    text-indent: 30px; /* отступы в параграфах, абзацы */
    background-image: url("photo5237710397430147781.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.layout {
    width: 980px; /* Ширина макета */
    margin: auto; /* Выравнивание по центру */
    background: #f0f8ff; /*цвет*/
}
.wrap {
    padding: 20px;
}

.fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
    color: #666; /* Цвет подрисуночной подписи */
}
p { margin:auto;
    text-indent: 30px; /* отступы в параграфах, абзацы */
}
form {text-size-adjust:100%;}

