h2 {
  text-align: center;
  font-family: Tahoma, Arial, Helvetica,sans-serif;
}
.day {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none;
} /*это кнопка*/

.day_list {
  position: relative;
  display: inline-block;
}

.day_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.day_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-family: Arial, Helvetica,sans-serif;
}

.day_content a:hover {background-color: #ddd;}

.day_list:hover .day_content {display: block;}

.day_list:hover .day {background-color: #3e8e41;}
