/*клеафикс, такие себе подпорки, чтобы не выпадал флоат, скачал в интернете код*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
#simple-text {color:red;
}
.myclass {font-family:sans-serif;
	font-size:20px;
	float:left;
}
.myclass:hover {font-family:sans-serif;
	color:#f51818;
	font-size:20px;
	float:left;
	box-shadow:0 23px 2px #f51818;/*тень*/
}
.site-header {
	background:#4a423f;
	color:#e8dbd3;
	padding:20px 30px;
	box-shadow:0 6px 2px #f51818;/*тень*/

}
.site-header h1 {
	color:#e8dbd3;
	margin:0px;
	font-size:20px;
	text-transform:uppercase;

}
#main-menu {
	float:right;
}

#main-menu ul {
	padding:0;
	margin:0;
}

#main-menu ul li {
	font-size: 20px;
      font-family: sans-serif;
	list-style: none;
	display: inline;
	margin-left:20px;
	margin-right:20px;
	text-transform:uppercase;
}

#main-menu ul li a {
	text-decoration: none;
	color:#e8dbd3;
}

#main-menu ul li a:hover {
	color: #f51818;
	cursor:pointer;
	box-shadow:0px 22px 2px #f51818;
}

p{
    font-family:sans-serif;
    font-size:1.2em;
    text-indent:20px;
}

a {
    text-decoration: none;
	color:#404571;
}
a:hover {
    color: #f51818;
	cursor:pointer;
}

.infosite {
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    background: #cde6d9;
    padding-top: 0;
    padding-right: 50px; padding-bottom:50px;padding-left: 50px;
}
.infosite h1{
    margin-top:5px;
    color: #76a7fb;
}
footer {
    text-align: center;
}
/*.layout {
    width: 980px; /* Ширина макета */
    margin: auto; /* Выравнивание по центру */
    /*background: #f0f8ff; /*цвет*/
}
.wrap {
    /*padding: 20px;*/
}

.fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
    color: #666; /* Цвет подрисуночной подписи */
form {text-size-adjust:auto;}